/** Borders */
.Labeler {
  display: flex;
  flex-direction: column; }
  .Labeler .chooser {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #e2e2e2; }
    .Labeler .chooser .display {
      display: flex;
      flex-direction: row;
      align-items: stretch; }
      .Labeler .chooser .display .hover {
        background-color: #f3f3f3; }
      .Labeler .chooser .display .chosen {
        background-color: #eff6ff; }
      .Labeler .chooser .display .visualization {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        justify-content: center;
        cursor: pointer;
        overflow: hidden; }
        .Labeler .chooser .display .visualization .Visualization {
          height: 900px;
          max-height: 85vh;
          display: flex;
          align-items: center;
          flex-direction: row; }
          .Labeler .chooser .display .visualization .Visualization .vega-actions {
            display: none; }
          .Labeler .chooser .display .visualization .Visualization svg {
            max-height: 100%;
            max-width: 100%; }
      .Labeler .chooser .display .same {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 0;
        width: 128px; }
        .Labeler .chooser .display .same .equals {
          flex: 1;
          width: 128px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center; }
          .Labeler .chooser .display .same .equals .indicator {
            font-size: 64px;
            color: #606060;
            pointer-events: none; }
        .Labeler .chooser .display .same .terrible {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 128px;
          height: 128px;
          font-weight: bold;
          color: #606060; }
    .Labeler .chooser .display.block .visualization {
      pointer-events: none; }
    .Labeler .chooser .display.block .equals {
      pointer-events: none;
      display: flex; }
  .Labeler .specs {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .Labeler .specs pre {
      margin: 0 20px 0 26px;
      white-space: pre-wrap; }
      .Labeler .specs pre.diff {
        color: #999; }
      .Labeler .specs pre .added {
        color: green; }
        .Labeler .specs pre .added:before {
          content: "+";
          margin-left: -1em; }
      .Labeler .specs pre .removed {
        color: #b90000; }
        .Labeler .specs pre .removed:before {
          content: "-";
          margin-left: -1em; }
  .Labeler .table {
    display: flex;
    align-items: left;
    flex-direction: column;
    max-width: 1600px;
    margin: 0 auto; }
    .Labeler .table table {
      border-collapse: collapse;
      font-size: 0.8em;
      min-width: 800px;
      margin-top: 1em; }
      .Labeler .table table tr {
        background-color: #fff; }
      .Labeler .table table tr:nth-child(2n), .Labeler .table table thead tr {
        background-color: #f3f3f3; }
      .Labeler .table table thead {
        border-bottom: 1px solid med-grey; }
      .Labeler .table table td, .Labeler .table table th {
        text-align: left;
        padding: 8px 10px;
        border: 1px solid #e2e2e2; }
    .Labeler .table .remaining {
      font-size: 1.1em;
      margin: .9em 0;
      color: #606060; }
  .Labeler .task {
    font-size: 1.2em;
    color: #e2e2e2;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 16px; }
    .Labeler .task.active {
      color: #383838; }
  .Labeler .anonymous {
    font-size: 2em;
    color: firebrick;
    font-weight: bold;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center; }
    .Labeler .anonymous span {
      font-size: 12px;
      color: #383838; }
